absl-py==2.1.0
accelerate==0.27.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.3.0
auto-gptq==0.6.0
azure-ai-translation-text==1.0.1
azure-core==1.34.0
babel==2.17.0
beautifulsoup4==4.12.3
bert-score==0.3.13
bitarray==3.4.2
bitsandbytes==0.46.1
bitstring==4.3.1
blis==1.2.0
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.8
click-default-group==1.2.4
cloudpathlib==0.20.0
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.5
ConfigArgParse==1.7.1
contourpy==1.3.1
cryptography==44.0.0
CTkMessagebox==2.7
customtkinter==5.2.2
cycler==0.12.1
cymem==2.0.11
darkdetect==0.8.0
datasets==3.2.0
deep-translator==1.11.4
deepl==1.22.0
Deprecated==1.2.18
dill==0.3.8
distro==1.9.0
docformatter==1.7.7
docxcompose==1.4.0
docxtpl==0.20.0
docx2pdf==0.1.8
es_core_news_md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.8.0/es_core_news_md-3.8.0-py3-none-any.whl#sha256=478b8bb3f3e8eb149192f7d80e7cd64f990b7e9bccbc5329df41a57e86326be2
et_xmlfile==2.0.0
exceptiongroup==1.2.2
Faker==35.2.0
fastapi==0.115.12
ffmpeg-python==0.2.0
ffmpy==0.6.0
filelock==3.18.0
flake8==7.2.0
flatbuffers==24.3.25
flet==0.28.3
fonttools==4.55.1
freetype-py==2.5.1
frozenlist==1.5.0
fsspec==2024.9.0
future==1.0.0
gast==0.4.0
gdown==5.2.0
gekko==1.3.0
gensim==4.3.3
google-auth==2.36.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googletrans==4.0.0rc1
gradio==5.34.0
gradio_client==1.10.3
gradio_pdf==0.0.22
groovy==0.1.2
grpcio==1.68.0
h11==0.16.0
h2==3.2.0
h5py==3.12.1
hf-xet==1.1.5
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.33.2
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
imageio==2.37.0
inquirerpy==0.3.4
intel-openmp==2021.4.0
isodate==0.7.2
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.6
jiter==0.10.0
joblib==1.4.2
keras==3.7.0
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
language_tool_python==2.8.2
lazy_loader==0.4
Levenshtein==0.27.1
libclang==18.1.1
lxml==5.4.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
mccabe==0.7.0
mdurl==0.1.2
mkl==2021.4.0
ml-dtypes==0.3.2
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.1
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.12
namex==0.0.8
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
nvidia-ml-py==12.570.86
nvitop==1.4.2
oauthlib==3.2.2
ollama==0.5.1
onnx==1.18.0
onnxruntime==1.22.0
onnxruntime-gpu==1.22.0
openai==1.86.0
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optimum==1.26.1
optree==0.13.1
orjson==3.10.18
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
pdf2zh==1.9.10
pdfminer.six==20250416
pdfplumber==0.11.4
peewee==3.18.1
peft==0.8.2
pfzy==0.3.4
pikepdf==9.8.1
pillow==11.0.0
preshed==3.0.9
prompt_toolkit==3.0.51
propcache==0.2.1
protobuf==4.25.1
psutil==7.0.0
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pyflakes==3.3.2
PyGetWindow==0.0.9
Pygments==2.18.0
PyMsgBox==1.0.9
PyMuPDF==1.25.2
pyparsing==3.2.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.9.0
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-Levenshtein==0.27.1
python-multipart==0.0.20
pytweening==1.2.0
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.13.0
rapidocr-onnxruntime==1.4.4
regex==2024.11.6
repath==0.9.0
requests==2.32.3
requests-oauthlib==2.0.0
rfc3986==1.5.0
rich==13.9.4
rouge==1.0.1
rouge-score==0.1.2
rsa==4.9
ruff==0.11.13
safehttpx==0.1.6
safetensors==0.4.5
scikit-image==0.25.2
scikit-learn==1.6.0
scipy==1.13.1
seaborn==0.13.2
selenium==4.31.0
semantic-version==2.10.0
sentencepiece==0.2.0
shapely==2.1.1
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
starlette==0.46.2
sympy==1.14.0
tbb==2021.13.1
tenacity==9.1.2
tencentcloud-sdk-python-common==3.0.1394
tencentcloud-sdk-python-tmt==3.0.1394
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow-estimator==2.12.0
tensorflow-intel==2.16.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
tf_keras==2.16.0
thinc==8.3.4
threadpoolctl==3.5.0
tifffile==2025.5.10
tiktoken==0.9.0
titlecase==2.4.1
tkcalendar==1.6.1
tokenizers==0.21.2
toml==0.10.2
tomlkit==0.13.3
toposort==1.10
torch==2.9.0.dev20250712+cu128
torchaudio==2.8.0.dev20250713+cu128
torchvision==0.24.0.dev20250713+cu128
tqdm==4.67.1
transformers==4.53.1
trio==0.30.0
trio-websocket==0.12.2
trl==0.4.7
ttkbootstrap==1.12.0
typer==0.15.1
typing==3.7.4.3
typing_extensions==4.14.1
tzdata==2024.2
untokenize==0.1.1
urllib3==2.2.3
uvicorn==0.34.3
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
windows-curses==2.4.1
wrapt==1.14.1
wsproto==1.2.0
xinference-client==1.7.0.post1
xlrd==2.0.1
xsdata==25.4
xxhash==3.5.0
yarl==1.18.3
watchdog==6.0.0