--extra-index-url https://download.pytorch.org/whl/cu129
# --- Dependencias Principales del Proyecto ---

# Interfaz Gráfica
ttkbootstrap==1.12.0

# Generación de Documentos
docxtpl==0.20.0
Jinja2==3.1.6
docx2pdf==0.1.8
pywin32==311

# Lectura y Procesamiento de PDFs
PyMuPDF==1.25.2
pdfplumber==0.11.7

# Análisis de Datos y Excel
pandas==2.2.3
openpyxl==3.1.5 # Dependencia explícita de pandas para .xlsx

# Modelo de IA y Procesamiento de Lenguaje
# # Instalados desde el índice de PyTorch para CUDA 12.9
torch
torchaudio
torchvision
transformers==4.53.1

# Utilidades
pyperclip==1.9.0